.nav{
    display: flex;
    justify-content: space-between;
}


li{
    display: flex;
    align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width: 66%;
  height: 100%;
  position: fixed;
}

.crimeMapContainer {
  width: 100%;
}

.crimeDataContainer {
  width: 0%;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100px;
}

.HomePageTitle {
  font-size: 36px;
  cursor: pointer;
  font-weight: bolder;
}

.spaceDivider {
  height: 70%;
  background-color: black;
  width: 1px;
  margin-left: 20px;
}

.policeReportContainer {
  cursor: pointer;
  margin-left: 30px;
  font-size: 24px;
  height: 100%;
  align-items: center;
  display: flex;
}

.policeReportContainer :hover {
    height: 100%;
    background-color: aliceblue;
    align-items: center;
  display: flex;
}
